.FormicariumContainer {
	position: relative;
}

.FormicariumCanvas {
	background: black;
	display: block;
}

.FormicariumMenu {
	margin: 5px 0;
}

.FormicariumButton {
	cursor: pointer;
	display: inline;
	margin-right: 7px;
	padding: 5px;
}

.FormicariumButton.active {
	background: #a7dcff;
}

.FormicariumGenerationCounter {
	color: white;
	font-size: small;
	position: absolute;
	top: 5px; left: 5px;
}

.FormicariumCellCounter {
	color: white;
	font-size: small;
	position: absolute;
	top: 20px; left: 5px;
}

.FormicariumAntCounter {
	color: white;
	font-size: small;
	position: absolute;
	top: 35px; left: 5px;
}