.FormicariumCanvas {
	background: black;
	display: block;
}

.FormicariumMenu {
	margin: 5px 0;
}

.FormicariumButton {
	cursor: pointer;
	display: inline;
	margin-right: 7px;
	padding: 5px;
	user-select: none;
}

.FormicariumButton.active {
	background: #a7dcff;
}

.FormicariumGenerationCounter {
	float: right;
	line-height: 16px;
	padding: 5px;
}