#Formicarium {
	position: relative;
}

#FormicariumCanvas {
	background: black;
	display: block;
}

#FormicariumMenu {
	margin: 5px 0;
}

#FormicariumMenu .button {
	cursor: pointer;
	display: inline;
	margin-right: 10px;
	padding: 5px;
}

#FormicariumMenu .button.active {
	background: #a7dcff;
}

#FormicariumMenu .button.disabled {
	cursor: default;
	opacity: .3;
}

#FormicariumGenerationCounter {
	float: right;
	line-height: 16px;
	padding: 5px;
}