#LangtonsAntCanvas {
	background: black;
	width: 400px; height: 300px;
}

#LangtonsAntMenu button {
	background: #a7dcff;
	border: none;
	cursor: pointer;
	font: inherit;
	margin-right: 5px;
	outline: none;
	padding: 5px 10px;
}

#LangtonsAntGenerationCounter {
	display: block;
	float: right;
	padding: 5px 0;
}